li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 204, 255);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    

}

li a:hover {
    background-color:rgba(111, 167, 219, 0.856);
}


body 
 {
    background-color: #1D3461;
    
 } 
h1 {
    color: #ffffff;
    background-color: #1F487E;
    margin-left: 20%;
    margin-right: 20%;
    
    font-size: 32pt;

    text-align: center;
  }
h2{
    color: #ffffff;
    background-color: #1F487E;
    margin-left: 25%;
    margin-right: 25%;

    font-size: 26pt;

    text-align: center;
}
h3{
    color: #ffffff;
    background-color: #1F487E;
    margin-right: 80%;
    font-size: 22pt;
}
p, ul.pstyle{
    color: #ffffff;
    font-size: 16pt;
}

button.cyber:hover{
    color: rgb(0, 204, 255);
}

button.cyber{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    margin: 10px;
    border: 10px;
    padding: 5px;
    max-width: 325px;
    min-width: 325px;
    min-height: 100px;
    max-height: 100px;
    font-size: 20px;
}

.container {
    text-align: center;
    justify-content: center;
    padding-right: 4%;
}

#title{
    color: white;
    padding-left: 12%;
}

/*Resoruces table*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:hover {
    background-color: rgb(41, 79, 161);
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
  }

  td{
    color: white;
  }

  td a{
    color: rgb(115, 212, 245);
  }
/*End of Resources table*/