ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #605F5E;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 204, 255);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    

}

li a:hover {
    background-color:rgba(111, 167, 219, 0.856);
}


body 
 {
    background-color: #1D3461;
    
 } 
h1 {
    color: #ffffff;
    background-color: #1F487E;
    margin-left: 40%;
    margin-right: 40%;
    
    font-size: 160%;

    text-align: center;
  }
h2{
    color: #ffffff;
    background-color: #1F487E;
    margin-left: 40%;
    margin-right: 40%;

    text-align: center;
}
h3{
    color: #ffffff;
    background-color: #1F487E;
    margin-right: 80%;
    font-size: 160%;
}
p{
    color: #ffffff;
    font-size: 120%;

}
